/*common css reset*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: PingFang SC, Arial, Microsoft YaHei, Source Han Sans SC !important;
  color: #3d444f;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}
article,
aside,
blockquote,
body,
button,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
svg.icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
svg.icon,
svg.icon + .text {
  display: inline-block;
  vertical-align: middle;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.icon.loading {
  animation: loading 1.5s linear infinite;
}
html,body{
  height: 100%;
}

a{
  text-decoration:none;
  cursor: pointer;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
pre{
  margin: 0;
}
/* echarts css reset*/
.echarts{width: inherit !important;height: inherit !important;}

/* style css reset*/
.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* daostyle && element css reset*/
.container{
  .el-select .el-input__inner, .el-input__inner{
    border: 1px solid #E0E7F0;
    border-radius: 4px;
    box-shadow: none;
  }
  .dao-input-container input, .dao-input input{
    border-color: #E0E7F0;
    border-radius: 4px;
  }
}
.el-tag {
  display: none;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
  right: 8px;
}

.el-select .el-input__inner,.el-input__inner {
  height: 32px !important;
  border: 0;
  box-shadow: inset 0 1px 0 0 #D5DBE3, inset 1px 0 0 0 #E4E7ED, inset -1px 0 0 0 #E4E7ED, inset 0 -1px 0 0 #E4E7ED;
  background-image: 0;
  border-radius: 2px;
  &:hover {
    background-color: 0;
  }
}
.el-date-editor .el-range__close-icon{
  display: none;
}
.el-date-editor .el-range-separator,.el-date-editor .el-range__icon{
  line-height: 26px;
}
.el-button{
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  outline: none !important;
  background-image: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  height: 32px;
  -webkit-box-sizing: 'border-box';
  box-sizing: 'border-box';
  font-size: 14px;
  line-height: 16px;
  padding: 7px 13px;
  border-radius: 4px;
}
.el-button{
  color: #3d444f;
  border-color: #ccd1d9;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  margin-right: 10px;
}
.el-button--mini{
  font-size: 13px;
  line-height: 24px;
  padding: 0 10px;
  height: 26px;
}
.el-button--default{
  color: #fff;
  border-color: #3890ff;
  background-color: #3890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
}
.el-button--default[disabled]{
  color: #fff;
  opacity: 0.7;
}
.el-message{
  z-index: 9999 !important;
}
.dialog-notice{
  padding: 40px 20px;
}
.el-range-editor.is-active, .el-range-editor.is-active:hover{
  border-color: #217EF2;
}
